<div *ngIf="checked;then content else other_content">here is ignored</div>    
<ng-template #content>
    <label for="">User Name</label>
    <input [(ngModel)]="username" (keyup)="$event.keyCode == 13 && sendUsername()" />
    <button (click)="sendUsername()">Login</button>
    <br>
    <br>
</ng-template>
<ng-template #other_content>
        <div *ngFor="let message of messages">
                <div *ngIf="message.outchat;then content else other_content">here is ignored</div>    
                <ng-template #content><svg id="svg1" style="width: 0.5in; height: 0.4in">
                        <circle id="circle1" r="10" cx="20" cy="20" style= "fill: green; stroke: black; stroke-width: 2"/>
                    </svg></ng-template>
                <ng-template #other_content><svg id="svg1" style="width: 0.5in; height: 0.4in">
                        <circle id="circle1" r="10" cx="20" cy="20" style= "fill: rgb(224, 9, 9); stroke: black; stroke-width: 2"/>
                    </svg></ng-template>    
            <span style="width: 3.5in; height: 0.6in; align-items: center; align-self: auto;">{{message.value}}</span> 
            </div>
            <br>
            <input [(ngModel)]="message" (keyup)="$event.keyCode == 13 && sendMessage()" />
            <button (click)="sendMessage()">Send</button>   
            <br>         
</ng-template>

<div *ngIf="!sokhach;then cont else other">here is ignored</div>    
<ng-template #cont> </ng-template>
<ng-template #other>There are {{data}} participants in this chat</ng-template>


